.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 30px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    row-gap: 30px;
}
.cart-container{
    background-color: tomato;
    height: 500px;
    padding: 10px;
    border-radius: 5px;
}